<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
   <meta charset="UTF-8" />
   <title>Crear negociación</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>

<body>
<main class="container">
   <h1>Nueva negociación</h1>

   <form class="form-horizontal" th:action="@{/negotiations/add}" th:object="${negotiation}" method="post">
       <div class="mb-3 col-md-4">
           <label for="stateOfApproval" class="control-label col-sm-2">Estado:</label>
           <select id="stateOfApproval" th:field="*{stateOfApproval}" class="form-control col-sm-4">
               <option value="">Selecciona un estado</option>
               <option value="PENDING">PENDING</option>
               <option value="ACCEPTED">ACCEPTED</option>
               <option value="IN_PROGRESS">IN_PROGRESS</option>
               <option value="REJECTED">REJECTED</option>
               <option value="CANCELLED">CANCELLED</option>
           </select>
           <div th:if="${#fields.hasErrors('stateOfApproval')}" th:errors="*{stateOfApproval}" class="text-danger"></div>
       </div>

       <div class="mb-3 col-md-4">
           <label for="idRequest" class="control-label col-sm-2">Solicitud:</label>
           <select id="idRequest" th:field="*{idRequest}" class="form-control col-sm-4">
               <option value="">Selecciona una solicitud</option>
               <option th:each="request : ${requests}" th:value="${request.idRequest}" th:text="|${request.idRequest} - ${request.training}|"></option>
           </select>
           <div th:if="${#fields.hasErrors('idRequest')}" th:errors="*{idRequest}" class="text-danger"></div>
       </div>

       <div class="mb-3 col-md-4">
           <label for="idPapPati" class="control-label col-sm-2">PAP PATI:</label>
           <select id="idPapPati" th:field="*{idPapPati}" class="form-control col-sm-4">
               <option value="">Selecciona un PAP PATI</option>
               <option th:each="papPati : ${papPatis}" th:value="${papPati.idPapPati}" th:text="|${papPati.name} ${papPati.lastName}|"></option>
           </select>
           <div th:if="${#fields.hasErrors('idPapPati')}" th:errors="*{idPapPati}" class="text-danger"></div>
       </div>

       <button type="submit" class="btn btn-primary">Afegeix negociació</button>
   </form>
</main>
</body>
</html>

