<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Editar formador</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>

<body>
<main class="container">
    <h1>Edita formador</h1>
    <form th:action="@{/trainers/edit}" th:object="${trainer}" method="post">
        <input type="hidden" th:field="*{idTrainer}" />

        <div class="mb-3 col-md-4">
            <label for="name" class="form-label">Nombre:</label>
            <input id="name" type="text" th:field="*{name}" class="form-control" maxlength="50" />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="lastName" class="form-label">Apellidos:</label>
            <input id="lastName" type="text" th:field="*{lastName}" class="form-control" maxlength="50" />
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="occupation" class="form-label">Ocupación:</label>
            <input id="occupation" type="text" th:field="*{occupation}" class="form-control" maxlength="100" />
            <div th:if="${#fields.hasErrors('occupation')}" th:errors="*{occupation}" class="text-danger"></div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="email" class="form-label">Email:</label>
            <input id="email" type="email" th:field="*{email}" class="form-control" maxlength="100" />
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="phone" class="form-label">Teléfono:</label>
            <input id="phone" type="text" th:field="*{phone}" class="form-control" maxlength="20" />
            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="address" class="form-label">Dirección:</label>
            <input id="address" type="text" th:field="*{address}" class="form-control" maxlength="150" />
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></div>
        </div>

        <button type="submit" class="btn btn-warning">Actualiza formador</button>
    </form>
</main>
</body>
</html>
